* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

/* Header top */

.header__top {
  background-color: #000000;
}

.header__top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
}

.header__top__link {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 auto;
  color: #ffffff;
}

.header__top__marked {
  font-weight: 500;
  text-decoration: underline;
}

/* Header */

.navbar {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.nav__list {
  display: flex;
  gap: 24px;
}

.nav__list__item {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.header__form {
  width: 577px;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f0f0f0;
  padding: 12px 0 12px 16px;
  border-radius: 62px;
}

.header__form__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.header__input {
  width: 500px;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00000066;
  border: none;
  background: none;
  outline: none;
}

.header__iconBox {
  display: flex;
  gap: 14px;
}

.header__iconBox img {
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #f0f0f0;
}

footer h1 {
  font-size: 33.5px;
  margin-bottom: 25px;
}

.footer__container {
  padding-top: 140px;
  padding-bottom: 88px;
}

.footer__flex {
  display: flex;
  gap: 113.5px;
  align-items: flex-start;
  padding-bottom: 50px;
  border-bottom: 1px solid #0000001a;
}

.footer__text {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  margin-bottom: 35px;
  color: #00000099;
}

.footer__title {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: black;
}

.footer__link {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0px;
  margin-bottom: 20px;
  color: #00000099;
}

.footer__social__box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__bottom p  {
    cursor: pointer;
}

.footer__bottom img {
    cursor: pointer;
}

.footer__bottom__text {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00000099;
}
